*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #fcead5;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.logo{
    display: flex;
}
.logo img{
    width: 30px;
    margin: 0 6px 0 6px;
}
.logo h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 6px 0 6px;
}
nav{
    display: flex;
}
.icone-e-texto img{
    width: 50px;
    margin: 0 6px 0 6px;
   display: flex;
    justify-content: center;
    align-items: center;
}